.title {
  font-size: 30px;
  font-weight: bold;
}
.images {
}
.image {
  max-width: 220px;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.image:hover {
  border: 5px solid black;
}
