.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.buttons {
  display: flex;
}
.demo_btn {
  white-space: nowrap;
}
.github_btn {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.description {
  margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
  .header {
    display: block;
  }
  .buttons {
    margin: 20px 0;
  }
}
